
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>About</title>
</head>
<style>

    input[type=text], input[type=password], input[type=number] {
        width: 100%;
        padding: 15px;
        margin: 5px 0 22px 0;
        display: inline-block;
        border: none;
        background: #f1f1f1;
    }

        input[type=text]:focus, input[type=password], input[type=number]:focus {
            background-color: #ddd;
            outline: none;
        }

    hr {
        border: 1px solid #f1f1f1;
        margin-bottom: 35px;
    }

    button {
        background-color: #04AA6D;
        color: white;
        padding: 14px 20px;
        margin: 8px 0;
        border: none;
        cursor: pointer;
        width: 100%;
        opacity: 0.9;
    }

        button:hover {
            opacity: 1;
        }

    .cancelbtn {
        padding: 14px 20px;
        background-color: #f44336;
    }

    .cancelbtn, .signupbtn {
        float: left;
        width: 50%;
    }

    .container {
        padding: 16px;
    }

    .clearfix::after {
        content: "";
        clear: both;
        display: table;
    }
</style>
<body>
    <div>
        <div class="w3-container w3-content w3-padding-64" style="max-width:800px" id="about">
            <h2 class="w3-wide w3-center">About</h2>
            <p class="w3-opacity w3-center"><i>You Can About us....</i></p>
            <div class="w3-row w3-padding-32">
                <div class="w3-col m6 w3-large w3-center w3-margin-bottom">
                    <i class="fa fa-aboutbooks" style="width:30px"></i> <strong>Joy of reading engaging children’s story books </strong><br />Give your child our lucid and interesting free children’s story books. The stories and its character keep them captive and helps nurture reading habit, reading story book opens up a whole new world of imagination, make reading a fun-filled entertainment with our free children’s books pdf.
                    <br>
                    <i class="fa fa-aboutus" style="width:30px"></i> <strong>Stories children love to read</strong><br />Children love to listen or read story books, it makes every child to discover the joy of reading as well. When they read more, it helps them to learn better and opens the way to creative world. Stories are abundant, for which we support to enhance reading habit with our free children’s books online. <br>
                    <i class="fa fa-about" style="width:30px"> </i> <strong>Thank you for visiting</strong><br />Our Mission is to provide 10 thousand Free Children's Books to young readers around the globe. Please support us by buying our Personalised Children’s Book or donate at Patreon
                    <br>
                    <i class="fa fa-envelope" style="width:30px"> </i> Email: bookmail@gmail.com<br>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
