
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Logo</title>
    <style>
        #logo {
            display: inline-block;
            margin: 2px;
            float: left;
            height: 60px;
            width: auto;
            border-radius: 50%;
        }
    </style>
</head>
<body>
    <div>
        <a href="#"><img id="logo" src="https://t4.ftcdn.net/jpg/04/77/84/59/360_F_477845928_d7f2VuoDerVNAVfZTeKfAmWBOzkJvKIj.jpg" /></a>
    </div>
</body>
</html>
